# Files excluded from the distributed package archive.
/tests           export-ignore
/.github         export-ignore
/.gitattributes  export-ignore
/.gitignore      export-ignore
/phpunit.xml     export-ignore
/phpstan.neon    export-ignore
/pint.json       export-ignore
/.editorconfig   export-ignore
